{% extends "base.html" %}

{% block content %}
<div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- News Detail Start -->
                <div class="position-relative mb-3">
                    {% if object.thumbnail %}
                    <img class="img-fluid w-100" src="{{ object.thumbnail.url }}" style="object-fit: cover;" alt="{{ object.title }}">
                    {% endif %}
                    <div class="overlay position-relative bg-light">
                        <div class="mb-3">
                            <a href="{{ trending.category.get_absolute_url }}">{{ object.category.name }}</a> 
                            <span class="px-1">/</span>
                            <span>{{ object.published_at|date:"F j, Y" }}</span>
                        </div>
                        <div>
                            <h3 class="mb-3">{{ object.title }}</h3>
                            <div>
                                {{ object.content|safe }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- News Detail End -->

                <div class="fb-like" data-href="http://127.0.0.1:8000/blog/dsfd/" data-width="" data-layout="" data-action="" data-size="" data-share="true"></div>

                <div class="fb-comments" data-href="http://127.0.0.1:8000/blog/{{post.post_id}}" data-width="" data-numposts="5"></div>
                
            </div>
            

            <div class="col-lg-4 pt-3 pt-lg-0">
                <!-- Ads Start -->
                
                <!-- Ads End -->

                <!-- Trending News Start -->
                <div class="pb-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h5 class="m-0">Trending</h5>
                    </div>
                    {% for trending in trending_posts %}
                    <div class="d-flex mb-3">
                        <img src="{{ trending.thumbnail.url }}" style="width: 100px; height: 100px; object-fit: cover;">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="{{ trending.category.get_absolute_url }}">{{ trending.category.name }}</a>
                                <span class="px-1">/</span>
                                <span>{{ trending.published_at|date:"F j, Y" }}</span>
                            </div>
                            <a class="h6 m-0" href="{{ trending.get_absolute_url }}">{{ trending.title }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <!-- Trending News End -->

                <!-- Categories Section Start -->
                <div class="pb-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h5 class="m-0">Categories</h5>
                    </div>
                    <div class="d-flex mb-3 categories-section">
                        <ul class="categories">
                            {% for category in categories %}
                            <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                
                <!-- Categories Section End -->

                <!-- Tags Start -->
                <div class="pb-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h5 class="m-0">Tags</h5>
                    </div>
                    <div class="d-flex flex-wrap m-n1">
                        {% for tag in object.tags.all %}
                        <a href="{{ tag.get_absolute_url }}" class="btn btn-sm btn-outline-secondary m-1">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                <!-- Tags End -->
                 
            </div>
        </div>
    </div>
</div>
{% endblock %}
