{% extends "base.html" %}

{% block content %}

{% load static %}


<header id="home" class="hero-area">  

    <div class="container">      
        <div class="row space-100">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="contents">
                    <h1>Uniting Stories &</h1>
                    <h1>Innovation</h1>
                    <div class="header-button">
                        <a href="#blog">
                            Start Reading
                            <span class="arrow">&#x2193;</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12 p-0">
                <div class="intro-img">
                    <img src="{% static 'img/intro.png' %}" alt="Intro Image">
                </div>            
            </div>
        </div> 
    </div>
    

</header>



<!-- Blog Section Start -->
<section id="blog" class="section">
    <div class="container mx-auto py-8 px-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-text section-header text-center">  
                    <div>   
                        <h2 class="section-title">
                            <span class="line"></span>Recent Blogs
                        </h2>
                    </div> 
                </div>
            </div>
        </div>
    

        <div class="row">
            {% for post in posts %}
            <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
                <div class="blog-item-wrapper">
                    <div class="blog-item-img">
                        <a href="{{ post.get_absolute_url }}">
                            {% if post.thumbnail %}
                            <img src="{{ post.thumbnail.url }}" class="img-fluid" alt="{{ post.title }}">
                            {% else %}
                            <img src="{% static 'img/default-thumbnail.jpg' %}" class="img-fluid" alt="Default Image">
                            {% endif %}
                        </a>             
                    </div>
                    <div class="blog-item-text"> 
                        <a href="{{ post.get_absolute_url }}" class="read-more">{{ post.category.name }}</a>
                        <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                        <p>{{ post.content|truncatewords_html:10|safe }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div class="mt-12 flex justify-center">
            {% if is_paginated %}
            <div class="inline-flex items-center space-x-1">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="px-3 py-2 bg-gray-200 text-gray-700 rounded-l-lg hover:bg-gray-300">Previous</a>
                {% endif %}
        
                {% for page_num in page_obj.paginator.page_range %}
                {% if page_obj.number == page_num %}
                <span class="px-3 py-2 bg-indigo-600 text-white">{{ page_num }}</span>
                {% else %}
                <a href="?page={{ page_num }}" class="px-3 py-2 bg-gray-200 text-gray-700 hover:bg-gray-300">{{ page_num }}</a>
                {% endif %}
                {% endfor %}
        
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="px-3 py-2 bg-gray-200 text-gray-700 rounded-r-lg hover:bg-gray-300">Next</a>
                {% endif %}
            </div>
            
            {% endif %}
        </div>
        
</section>

{% endblock %}
